<h1 align="right"><font color=#d9534f>Recidex </font><small>Gotta cook 'em all!</small></h1>
<br>
<center><h4>Welcome to the best online recipe organizer in the Pokemon league! With Recidex, you can add store all your favorite recipes in one place and be ready for your next cooking battle!</h4></center>
<br>
<center>
<h3>Search Recipes:</h3>
</center>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a role="button" href="/recipes/name" class="btn btn-primary">Search by Name</a>
  </div>
  <div class="btn-group" role="group">
    <a role="button" href="/recipes/cat" class="btn btn-primary">Search by Category</a>
  </div>
  <div class="btn-group" role="group">
    <a role="button" href="/recipes/ingredient" class="btn btn-primary">Search by Ingredient</a>
  </div>
</div>
<br>
<center>
<div class="btn-group btn-group-lg" role="group">
  <a role="button" href="/recipe/new" class="btn btn-danger"><b>Add a new recipe!</b></a>
</div>
</center>
